.carousel {
    width: 400px;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   
    
}
.carousel img {
    width: 400px;
    display: none;
    
    border: 1px solid #fcfcff;
    box-shadow:  0 0 5px #f4f4f5; 
}      
.carousel img:first-child {
    border: 1px solid #fcfcff;
    box-shadow:  0 0 5px #f4f4f5;
    display: block;
}