html::-webkit-scrollbar {
    width: 5px;
    background-color:#dfcba8;
    
  }
  
  html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #a09787;
   
    
  }
  
  html::-webkit-scrollbar-track {
   
    border-radius: 5px;
    background-color: #313036
  }


.movies {
    color: #dfcba8;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial Narrow, sans-serif;
}
.movies-item {
    width: 500px;
    text-align: center;
    
    display: inline-block;
    margin: 2.5%;
    
}  

.movies-item  iframe {
    width: 500px;
    height: 250px;
    border: 1px solid #fcfcff;
    box-shadow:  0 0 5px #f4f4f5;
}

