*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial Narrow, sans-serif;
  margin: 0;
  background-color: #313036;
  color: #dfcba8;
  font-size: 20px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
      grid-template-areas: "head head head" "main aside aside" "main aside aside" "foot foot foot";
  -ms-grid-rows: 60px [header] 1fr [content] auto [footer];
      grid-template-rows: 60px [header] 1fr [content] auto [footer];
  -ms-grid-columns: 1fr 300px 300px;
      grid-template-columns: 1fr 300px 300px;
  grid-row-gap: 20px;
  margin: 0;
}

.grid-container .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr [navigation] 300px [social] 300px [lang];
      grid-template-columns: 1fr [navigation] 300px [social] 300px [lang];
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: head;
  justify-items: center;
  color: #fff6c0;
}

.grid-container .header-nav {
  width: 650px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid-container .header-nav__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.grid-container .header-nav__link {
  display: inline-block;
  text-decoration: none;
  grid-column: auto;
  color: #dfcba8;
  font-size: 20px;
  text-transform: uppercase;
}

.grid-container .header-nav__link, .grid-container .link {
  margin-bottom: 20px;
}

.grid-container .header-lang {
  grid-column: social/lang;
  -ms-grid-row: 2;
  grid-row: 2/2;
  font-weight: 700;
}

.grid-container .header-lang__link {
  text-decoration: none;
  color: #dfcba8;
  margin: 10px;
}

.grid-container .header-social {
  margin: 0;
  grid-column: navigation/social;
  -ms-grid-row: 2;
  grid-row: 2/2;
  margin-top: -10px;
}

.grid-container .header-social__link {
  margin: 10px;
}

.grid-container .header-social__link__img {
  width: 150px;
}

.grid-container .main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr auto auto;
      grid-template-rows: 2fr auto auto;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

.grid-container .main-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: absolute;
  margin-left: 9%;
}

.grid-container .main-img img {
  width: 650px;
}

.grid-container .main-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/span 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  position: relative;
  background-color: #313036;
  justify-items: center;
  opacity: 75%;
  min-height: 650px;
}

.grid-container .main-container__content {
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/ span 8;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/ span 3;
  margin: 10%;
  color: #ffffff;
}

.grid-container .main-content__other {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  margin-top: 100px;
  max-height: 100%;
  max-width: 650px;
}

.grid-container .main-content__other__video {
  border: 4px solid #b4acac;
  width: 400px;
  height: 230px;
}

.grid-container .aside {
  margin-right: 10px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: aside;
  text-align: center;
  padding-top: 20px;
}

.grid-container .aside-content__img {
  max-width: 70%;
}

.grid-container .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: foot;
  background-color: #f0f3f8;
  border-top: 1px solid #343435;
}

.grid-container .footer-link {
  text-decoration: none;
}

.grid-container .footer-link__text {
  font-size: 10px;
  color: #7c5656;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */